/* general */
body{
    font-family: 'Ubuntu', sans-serif;
    background: black;
    color: white;
}

.wrapper_container{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 1200px;
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 600px) {
    div.wrapper_container {
      flex-direction: column;
    }

    div.left_container, div.right_container, div.wrapper_container, div.inner_container, div.tabs button{
        width: 95%;
    }

    div.inner_container, div.tabs button, div.left_container{
        font-size: 20px;
    }

    div.tabs{
        flex-direction: column;
    }

    span.surname{
        font-size: 40px;
    }

    div.info_container, div.languages{
        line-height: 30px;
    }

    button.download_resume{
        display:none;
    }

  }

/* LIGHT MODE */
.light-mode {
    background-color: #f7f7f7;
    color: #000000;
    transition: background-color 0.3s ease;
}

.light-mode .container_header {
    background-color: #dbdbdb;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.light-mode .container_content{
    background-color: #fff;
    color: #000000;
}

.light-mode .inner_container{
    background-color: #fff;
    border: 5px solid #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.light-mode .text_container{
    color: #000000;
}

.light-mode .tabs button{
    background: #fff;
    color:#0082fc;
    border-bottom: 0.5px solid #606060;
}

.light-mode .tabs button:focus {     
    background-color: #dbdbdb;
    color: rgb(52, 52, 52);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 0.5px solid #606060;
}

.light-mode a{
    color:#0082fc;
}

.light-mode .year{
    color:rgb(52, 52, 52);
}


.light-mode button {
    background-color:#fff;
    color: #333;
}

.light-mode .back_button{
    border:none;
    background: none;
    color: #333;
    cursor: pointer;

}

.toggle-btn {
    display: inline-block;
    margin-left: 20px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*RIGHT CONTAINER */
.right_container{
    width: 100%;
}

.container_header{
    background: #212428; 
    font-weight: 600;
    padding: 15px;
    font-size: 18px;
}

.inner_container{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #212428; 
}

.container_content{
    padding: 10px;
    color: lightgray;
    
}

.text_container{
    color: lightgray;
    font-size: 18px;
    padding: 10px;
}

.text_container ul li{
    
    /* make bigger somehow
    list-style-image: url(media/circle-check-solid.svg);*/
    list-style: '↪   ';
    padding: 0; /* Remove padding */
    margin: 10px 0;
}

.languages, .skills{
    padding: 5px;
}

.video_container video{
    width: 100%;    
}

.year{
    color: wheat;
    font-weight: 100;
}

.tab_container{
    /* just for JS*/
    display: none;
}

.tabs{
    display: flex;
    min-height: 30px;
    margin-bottom: 30px;
}

.tabs button{
    font-family: 'Ubuntu', sans-serif;
    float: left;
    cursor: pointer;
    padding: 10px 5px 10px 5px;
    transition: 0.3s;
    font-size: 18px;
    width: 33%; /* change to accomodate more tabs*/
    min-width: 30px;
    background: black;
    color: #0dcaf0;
    font-weight: 600;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid #606060;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.tabs button:hover{
    border: 0.5px solid #606060;
    color: #dc3545;    
}

.tabs button:focus {     
    background-color:#212428; 
    color: lightgray;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 0.5px solid #606060;
}



.tab_link{

}

#projects{
    display:contents;
}

#resume{

}

#education{

}


/* LEFT CONTAINER */
.left_container{
    min-height: 300px;
    width: 30%;
    margin-right: 20px;
    /*border: 1px solid white;*/
}


.contact_container ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #0dcaf0;
}

.info_container{
    line-height: 22px;
    font-size: 18px;
}

.img_container{
    padding-bottom: 15px;
}

.person_img{
    width: 100%;
    border-radius: 5px;
}

.surname{
    font-size: 25px;
    font-weight: 600;
}

.download_resume{
    width: 50%;
    font-family: 'Ubuntu', 'sans-serif';
    text-align: center;
    padding: 5px;
    margin: 5%;
    margin-left: 25%;
    border-radius: 10px;
    cursor: pointer;
    background: black;
    font-weight: 600;
    border: 0.5px solid #606060;

}


/* BOTTOM */
.bottom_info{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}


/* CONTACT FORM wip */

.back_button{
    border:none;
    background: none;
    color: white;
    cursor: pointer;

}

textarea{

}

input{

}

.submit_button{

}